.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-color: #212121;
}

.pie h2 {
    color: #fff;
    font-size: 25px;
}

h2 span {
    margin-left: 1rem;
    color: #3d46ae;
}

