.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

.pie h2 {
    color: #fff;
    font-size: 25px;
}

h2 img {
    width: 120px;
    align-self: center;
}
