.button {
    font-size: 18px;
    font-weight: 400;
    padding: 0.5em;
    color: #fff;
    font-weight: 700;
    text-overflow: unset;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    color: #d4d4d4;
    border-bottom: 3px #981bf1c1 solid;
}
