@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
    font-family: "Source Code Pro", monospace;
    line-height: 1.5;
    font-weight: 400;

    --innovacion-gestion: #ffba05;
    --front-end: #6bd1ff;
    --back-end: #00c86f;
    --programacion: #19369d;
    --devops: #e06b69;
    --ux-y-diseño: #db6ebf;
    --movil: #ffba05;
    --data-science: #a6d157;
    --error: #e53935;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    display: grid;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
